# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"

# GITHUB_ID = 0c0cb7398f3f303ec6bf
# GITHUB_SECRET = 382e792661a97a1d02bd582749094c7a49df488c
# MONGODB_URI = mongodb+srv://ser:ser@formikcluster.7wcaxe6.mongodb.net/