@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:wght@400;500;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    color: #0F0F0F;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

html, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#__next {
    height: 100%;
}